.formcontainer{
    width: 850px;
    margin: auto;
}

.formcontainer__content{
    width:100%;
    margin: 10px 20px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgba(45, 100, 102, 0.35);
}


#date{
    width: 850px;
    margin: 10px 20px;
    border: 2px solid rgba(45, 100, 102, 0.35);
    padding: 10px;
    border-radius: 5px;
}

div.SingleDatePickerInput.SingleDatePickerInput_1.SingleDatePickerInput__withBorder.SingleDatePickerInput__withBorder_2{
    border: none;
}

.expenseform__button{
    margin: 10px 20px;
    padding: 10px;
    text-align: center;
    
}

.editexpenseheading{
    width: 850px;
    margin: auto;
    padding: 10px;
    text-align: center;
}