.formcontainer{
    width: 850px;
    margin: auto;
}

.formcontainer__content{
    width:100%;
    margin: 10px 20px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgba(45, 100, 102, 0.35);
    box-sizing: border-box;
}
 
.formcontainer__drop{
    background-color: rgb(72, 170, 173);
    color: white; 
}

.formcontainer__option{
    background-color: white;
    color: black; 
}

.formcontainer__option:focus{
    background-color: rgb(72, 170, 173);
    color: white;
}

#date{
    width: 850px;
    margin: 10px 20px;
    border: 2px solid rgba(45, 100, 102, 0.35);
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}

div.SingleDatePickerInput.SingleDatePickerInput_1.SingleDatePickerInput__withBorder.SingleDatePickerInput__withBorder_2{
    border: none;
}

.expenseform__button{
    margin: 10px 20px;
    padding: 10px;
    text-align: center;
    background-color: rgb(72, 170, 173);
    color: white;
}

.editexpenseheading{
    width: 850px;
    margin: auto;
    padding: 10px;
    text-align: center;
}

.expenseform__error{
    width: 850px;
    margin: auto;
    padding: 10px;
    text-align: center;
    color: rgb(207, 5, 5);
    font-size: 1.2em;
    font-weight: 500;
}

@media (min-width:768px) and (max-width:1024px){
    .formcontainer{
        width: 700px;
        box-sizing: border-box;
    }
    .formcontainer__content{
        box-sizing: border-box;
        margin: 10px auto;
    }
    #date{
        width: 700px;
        box-sizing: border-box;
        margin: 10px auto;
    }
    .editexpenseheading{
        width: 700px;
        margin: 10px auto;
        text-align: center;
    }
    .expenseform__button{
        margin: 0px;
        margin-bottom: 20px;
    }
    .expenseform__error{
        width: 700px;
        margin: 10px auto;
    }
}


@media (min-width:360px) and (max-width:768px){
    .formcontainer{
        width: 300px;
        box-sizing: border-box;
    }
    .formcontainer__content{
        box-sizing: border-box;
        margin: 10px auto;
    }
    #date{
        width: 300px;
        box-sizing: border-box;
        margin: 10px auto;
    }
    .editexpenseheading{
        width: 300px;
        margin: 10px auto;
        text-align: center;
    }
    .expenseform__button{
        margin: 0px;
        margin-bottom: 20px;
    }
    .expenseform__error{
        width: 300px;
        box-sizing: border-box;
        margin: 10px auto;
    }
}