.header{
    width: 100%;
    background-color: rgb(72, 170, 173);
    color: whitesmoke;
    margin-top: 0px;
    margin-bottom: 50px;
    padding: 25px;
    box-sizing: border-box;
}

.header__content{
    width: 850px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.header__title{
    text-decoration: none;
    margin: 0px;
    display: inline-block;
    color: white;
}

.header__side{
    margin-top: 8px;
}

.header__links{
    font-size: 20px;
    padding: 3px;
    margin-right: 25px;
    border: 3px solid black;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    margin-top: 30px;
}


@media (min-width:768px) and (max-width:900px){
    .header__content{
        width: 100%;
    } 
}